.signUp{
    background-color: #FF8360 ;
    float: right;
    border-radius: 4px;
   
 }
  
 .signUp:hover {
    background-color: #fe5425;
    color: black;
  }
 
body, html {
    height: 100%;
}
.hero-image {
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .hero-text {
    text-align: left;
    position: absolute;
    font-weight: 500;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: black;
  }
  .buttonhero {
    Background-color: white;
    Color: black;
    Border: 2px #FF8360;
    Border-radius: 4px;
    Font-size: 16px;
    Transition-duration: 0.4s;
  }
   
  .buttonhero:hover{
    Background-color: #FF8360;
    Color: white;
    Border: 2px #FF8360;
    Border-radius: 4px;
    Font-size: 16px;
  }

  #locations {
    padding:200px 0px 100px;
    background-image:url("../images/hollywood.png");
    background-repeat: no-repeat;
    background-size: cover;

}
#locations .location-card {

    background-size: 100%;
    height: 450px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-color: #edeaea;
    }

.hobby {
        background-image: url(../images/treasurehunt.jpg); 
}

.surprise {
    background-image: url(../images/surprise.png);  
}
.ar {
    background-image: url(../images/ar.jpg);  
}



#locations .location-card .card-items {
    background-color: white;
    margin: 0px 30px 50px 30px;
    padding:20px;
    
}     

.location-item .card-items h3 {

    font-size:20px;
    width:45%;
    
    
}

.location-item .card-items .heading {
    display:flex;
    justify-content: space-between;
    }
    .container1 {
      position: center;
      margin:auto;
    }
  

    .footer-dark {
        padding:50px 0;
        color:#f0f9ff;
        background-color:#282d32;
      }
       .footer-dark ul a {
        color:inherit;
        text-decoration:none;
        opacity:0.6;
      }
       .footer-dark ul a:hover {
        opacity:0.8;
      }
       .footer-dark .item.text {
        margin-bottom:36px;
      }
       .footer-dark .item.text p {
        opacity:0.6;
        margin-bottom:0;
      }
       .footer-dark .copyright {
        text-align:center;
        padding-top:24px;
        opacity:0.3;
        font-size:13px;
        margin-bottom:0;
      }
      
      .footer-dark h3 {
        margin-top:0;
        margin-bottom:12px;
        font-weight:bold;
        font-size:16px;
      }
       .footer-dark ul {
        padding:0;
        list-style:none;
        line-height:1.6;
        font-size:14px;
        margin-bottom:0;
      }
      .preloader {
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 100000;
        background-color: black;
        top: 0;
        display: flex;
        align-items: center;
       }
       .preloader img {
        animation: spin 3s ease;
        transition: all;
        width: 150px;
        margin: 0 auto;
       }
     